:root, [data-bs-theme=light] {
  --bs-border-radius: 0.175rem;
  --bs-border-radius-sm: 0.2rem;
  --bs-border-radius-lg: 0.3rem;
  --bs-border-radius-xl: .5rem;
  --bs-border-radius-xxl: 1rem;
  --bs-border-color: #d5d5d5;
}

[data-bs-theme=dark] {
  --bs-border-color: #555;
}
.modal-header {
  padding: .6rem 1rem !important;
  border-bottom: 1px solid #eee;
}

.modal-body {
  padding: .5rem !important;
}
.modal-footer {
  padding: .4rem .8rem !important;
  border-top: 1px solid #eee;
}

[data-bs-theme=dark] .modal-header {
  border-bottom: 1px solid #333;
}
[data-bs-theme=dark] .modal-footer {
  border-top: 1px solid #333;
} 
.modal-header h5 {
  margin: 0;
}
[data-bs-theme="dark"] .swal2-popup {
  background-color: #343a40 !important;
  color: #f8f9fa !important;
}

[data-bs-theme="dark"] .swal2-confirm {
  background-color: #0d6efd !important;
}

[data-bs-theme="dark"] .swal2-cancel {
  background-color: #6c757d !important;
}

[data-bs-theme="dark"] .swal2-icon.swal2-success {
  background-color: #343a40;
  border: 2px solid #0d6efd;
}

[data-bs-theme="dark"] .swal2-success-circular-line-left, [data-bs-theme="dark"] .swal2-success-circular-line-right, [data-bs-theme="dark"] .swal2-success-fix {
  background-color: transparent !important;
}

[class^="bi-"] {
  font-size: 20px;
}

.symbol-container {
  display: flex;
  align-items: center;
}

[data-bs-theme="dark"] .theme-switcher {
  background: #3b5998;
}

.previewImage {
  height: 70px;
  border-radius: 10px;
  border: 5px solid #575757;
  outline: 1px solid #222;
}

.card-loading {
  position: relative;
  overflow: hidden;
  pointer-events: none;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    backdrop-filter: drop-shadow(1px);
    left: 0;
    z-index: 999;
    background-color: rgba(180, 180, 180, 0.2);
  }

  &::after {
    content: "";
    width: 100%;
    height: 5px;
    --color: no-repeat linear-gradient(#6100ee 0 0);
    background: var(--color), var(--color), #d7b8fc;
    background-size: 60% 100%;
    animation: top-loading 2.5s infinite;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
  }
}

@keyframes top-loading {
  0% {
    background-position: -150% 0, -150% 0
  }

  66% {
    background-position: 250% 0, -150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}

.action-btns {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.action-btns i {
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
  font-size: 1.3rem;
  border: 1px solid #aaa;
  user-select: none;
  display: flex;
  justify-items: center;
  transition: all 0.1s ease;
  box-shadow: var(--shadow-3);
}

.action-btns i:hover {
  filter: brightness(120%);
  scale: 1.2;
}

[data-bs-theme="dark"] .action-btns i {
  border: 1px solid #666;
}

.nav-link {
  cursor: pointer;
  user-select: none;
}

.grip {
  position: absolute;
  right: 0;
  background-size: cover;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjODg4Ij48L3JlY3Q+Cjwvc3ZnPg==");
  width: 10px;
  height: 15px;
  cursor: grab;
  cursor: -webkit-grab;
  margin: 0.5em;
}

.dragging {
  width: 2px;
  background-color: #999;
}

.JCLRgrip.ui-resizable {
  cursor: col-resize;
}

div.dt-container {
  table {
    text-align: center;
    vertical-align: middle;
  }

  table thead th {
    text-align: center;
  }

  input, div.dt-container select {
    margin-left: 5px !important;
    min-width: 60px !important;
    border-radius: 2px !important;
  }

  .dt-search label {
    display: none !important;
  }

  .dt-search input {
    padding: 10px;
    margin-right: 3px;
    width: 100% !important;
    max-width: 100%;
    border-radius: 4px !important;
  }

  @media only screen and (min-width: 1200px) {
    .dt-search input {
      width: 30rem !important;
    }
  }

  .dropdown-toggle:after {
    display: none !important;
  }

  .dt-search input:focus {
    border: 1px solid #959595;
    box-shadow: 0 0 6px 0 #ccc;
  }

  .dt-button-down-arrow {
    display: none;
  }

  .dt-paging .dt-paging-button {
    padding: 3px !important;
    font-size: 1.1em !important;
    color: inherit !important;
    border-radius: 5px !important;
    font-weight: 400;
  }

  .dt-paging .dt-paging-button.current {
    border: 1px solid #555 !important;
  }

  .btn-secondary {
    opacity: 0.9;
    border: none;
    background-color: #eee;
    color: #212529;
  }

  .btn-secondary:focus {
    background-color: #ccc;
    color: #212529;
  }

  .btn-secondary:hover {
    background-color: #ddd;
  }

  div.dtb-popover-close {
    position: absolute;
    top: 0px !important;
    right: 0px;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    z-index: 2003;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    background-color: #eee;
    color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.dtb-popover-close:hover {
    background-color: crimson !important;
    color: #fff;
  }

  div.dtsb-searchBuilder div.dtsb-titleRow button.dtsb-clearAll {
    margin-right: 25%;
  }

  div.dropdown-menu {
    border-radius: 7px !important;
    border: 1px solid #ccc;
    box-shadow: var(--shadow-6);
  }

  .dataTables_length select,
  .dataTables_filter select,
  .dt-buttons .dropdown-menu {
    transform: translateY(-5px);
    transition: none !important;
  }

  div.dtsb-searchBuilder select, div.dtsb-searchBuilder input {
    border-radius: 3px;
    border: 1px solid #ccc !important;
    font-style: normal !important;
    padding-left: 10px !important;
  }

}

[data-bs-theme=dark] {
  div.dt-container {
    div.dtsb-searchBuilder select, div.dtsb-searchBuilder input {
      border: 1px solid #575757 !important;
    }

    div.dropdown-menu {
      border: 1px solid #666;
    }

    .btn-secondary {
      opacity: 0.9;
      border: none;
      background-color: #333;
      color: #eee;
    }

    .btn-secondary:focus {
      background-color: #222;
      color: #ccc;
    }

    .btn-secondary:hover {
      background-color: #444;
    }

    div.dtb-popover-close {
      background-color: #333;
      color: #ccc
    }
  }
}

@media screen and (min-width: 1024px) {
  div.dt-container {
    div.dropdown-menu:has(.dtsb-searchBuilder) {
      width: auto !important;
      min-height: 180px !important;
    }

  }
}