.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    filter: invert(100%) brightness(40%);
}

[data-bs-theme=dark] .icon, [data-bs-theme=semi-dark] .sidebar-wrapper .icon {
    filter: invert(100%) brightness(80%);
}

.icon-sidebar {
    content: url('./icons/sidebar.svg');
}

.icon-home {
    content: url('./icons/home.svg');
}

.icon-list {
    content: url('./icons/list.svg');
}

.icon-user {
    content: url('./icons/user.svg');
}

.icon-reg {
    content: url('./icons/reg.svg');
}

.icon-doc {
    content: url('./icons/document.svg');
}

.icon-help {
    content: url('./icons/help.svg');
}

.icon-apps {
    content: url('./icons/apps.svg');
}

.icon-border {
    content: url('./icons/border.svg');
}

.icon-copy {
    content: url('./icons/copy.svg');
}

.icon-csv {
    content: url('./icons/csv.svg');
}

.icon-dark {
    content: url('./icons/dark.svg');
}

.icon-dashboard {
    content: url('./icons/dashboard.svg');
}

.icon-delete {
    content: url('./icons/delete.svg');
}

.icon-document {
    content: url('./icons/document.svg');
}

.icon-edit {
    content: url('./icons/edit.svg');
}

.icon-excel {
    content: url('./icons/excel.svg');
}

.icon-eye {
    content: url('./icons/eye.svg');
}

.icon-filter {
    content: url('./icons/filter.svg');
}

.icon-manage_account {
    content: url('./icons/manage_account.svg');
}

.icon-menu {
    content: url('./icons/menu.svg');
}

.icon-notification {
    content: url('./icons/notification.svg');
}

.icon-power-off {
    content: url('./icons/power-off.svg');
}

.icon-print {
    content: url('./icons/print.svg');
}

.icon-refresh {
    content: url('./icons/refresh.svg');
}

.icon-search {
    content: url('./icons/search.svg');
}

.icon-semi-dark {
    content: url('./icons/semi-dark.svg');
}

.icon-settings {
    content: url('./icons/settings.svg');
}

.icon-share {
    content: url('./icons/share.svg');
}

.icon-sun {
    content: url('./icons/sun.svg');
}

.icon-thumbs-down {
    content: url('./icons/thumbs-down.svg');
}

.icon-thumbs-up {
    content: url('./icons/thumbs-up.svg');
}

.icon-tune {
    content: url('./icons/tune.svg');
}

.icon-user {
    content: url('./icons/user.svg');
}

.icon-arrow-right {
    content: url('./icons/arrow-right.svg');
}

.icon-close-circle {
    content: url('./icons/close-circle.svg');
}

.icon-block {
    content: url('./icons/block.svg');
}

.icon-window {
    content: url('./icons/window.svg');
}

.icon-close {
    content: url('./icons/close.svg');
}

.icon-h-menu {
    content: url('./icons/h-menu.svg');
}

.icon-check {
    content: url('./icons/check.svg');
}

.icon-remove {
    content: url('./icons/remove.svg');
}

.icon-arrow-left {
    content: url('./icons/arrow-left.svg');
}

.icon-arrow-up {
    content: url('./icons/arrow-up.svg');
}

.icon-download {
    content: url('./icons/download.svg');
}

.icon-drag {
    content: url('./icons/drag.svg');
}

.icon-arrow-down {
    content: url('./icons/arrow-down.svg');
}

.icon-label {
    content: url('./icons/label.svg');
}

.icon-report {
    content: url('./icons/report.svg');
}

.icon-password {
    content: url('./icons/password.svg');
}

.icon-v-menu {
    content: url('./icons/v-menu.svg');
}

.icon-cancel {
    content: url('./icons/cancel.svg');
}