[id^="action-buttons"] {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 5px;
  grid-auto-flow: row;
  grid-template-areas:
    ". aspect-ratio aspect-ratio aspect-ratio aspect-ratio aspect-ratio ."
    "mode-move lock zoom-in arrow-up zoom-out add-crop flip-hr"
    "mode-crop unlock arrow-left arrow-down arrow-right remove-crop flip-vr";
}

.btn-arrow-up {
  grid-area: arrow-up;
  background-color: #00000022;
}

.btn-arrow-down {
  grid-area: arrow-down;
  background-color: #00000022;
}

.btn-arrow-left {
  grid-area: arrow-left;
  background-color: #00000022;
}

.btn-arrow-right {
  grid-area: arrow-right;
  background-color: #00000022;
}

.btn-zoom-in {
  grid-area: zoom-in;
}

.btn-zoom-out {
  grid-area: zoom-out;
}

.btn-lock {
  grid-area: lock;
}

.btn-unlock {
  grid-area: unlock;
}

.btn-mode-move {
  grid-area: mode-move;
}

.btn-mode-crop {
  grid-area: mode-crop;
}

.btn-add-crop {
  grid-area: add-crop;
}

.btn-remove-crop {
  grid-area: remove-crop;
}

.btn-flip-hr {
  grid-area: flip-hr;
}

.btn-flip-vr {
  grid-area: flip-vr;
}

.select-aspect-ratio {
  grid-area: aspect-ratio;
}

.stories.carousel .story>.item-link>.item-preview {
  overflow:visible !important;
}

.stories.snapgram .story > .item-link > .item-preview img {
  border-radius: 50%;
  border: 2px solid transparent;
  outline: 4px solid #25d366;
}

.stories.carousel .story>.item-link>.item-preview img {
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.stories.carousel .story>.item-link>.info .name {
  font-weight: 300;
  font-size: 12px;
  text-wrap: wrap;
  line-height: 0;
}

.stories.snapgram .story.seen {
  opacity: 0.5;
}

.stories.snapgram .story.seen > .item-link > .item-preview img {
  outline: 4px solid #ccc;
}

.story-views-count {
  font-weight: bold;
  border-top: 1px solid white;
}

#stories-content
{
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  scroll-behavior: smooth;
	background: #F5F5F5;
	overflow-y: none;
}

#stories-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#stories-content::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
  height: 7px;
}

#stories-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #999;
}